head
	//- used by almost all pages
	link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	//- link(rel='stylesheet', href='/stylesheets/dashboard.css')
	//- uncomment this line back or find another sol used by main page (bootstrap template: http://startbootstrap.com/template-overviews/freelancer/)	
	//- //- link(rel='stylesheet', href='/vendor/freelancer/css/freelancer.css')
	//- link(rel='stylesheet', href='/vendor/freelancer/font-awesome-4.1.0/css/font-awesome.min.css', type="text/css")
	//- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700', type="text/css")
	//- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', type="text/css")