//- canvas.col-md-12(id="demoCanvas" width="500" height="300" ng-init="init()")
//- //- canvas.col-md-12(id="haha" width="500" height="300")

//- .row
//- 	.col-md-2.col-md-offset-5.col-xs-2.col-xs-offset-5
//- 		button(ng-click="moveUp()")
//- 			i.pe-7s-angle-up(style="font-size: 40px;")
//- .row
//- 	.col-md-2.col-md-offset-4.col-xs-2.col-xs-offset-4
//- 		button(ng-click="moveLeft()")
//- 			i.pe-7s-angle-left(style="font-size: 40px;")
//- 	.col-md-2.col-xs-2
//- 		button(ng-click="moveRight()")
//- 			i.pe-7s-angle-right(style="font-size: 40px;")
	
//- .row
//- 	.col-md-2.col-md-offset-5.col-xs-2.col-xs-offset-5
//- 		button(ng-click="moveDown()")
//- 			i.pe-7s-angle-down(style="font-size: 40px;")
.col-lg-4.rack(ng-controller="testController" ng-init="getContent()")
	.col-md-12
		.rack-title.col-md-6 
			p Name: {{info.name}}
		.title-redundancy.col-md-6
	.rack-body
		.text
			p date: 2015-07-31
			p name: Ke Zhang
			p event: study note