.center-block
	h1.fancy 
		span {{title}}
.border
	div(style="height: auto")
		carousel(interval="3000")
			slide(ng-repeat="slide in slides" active="slide.active")
				img(ng-src="{{slide.image}}" style="margin:auto;")

	hr