div(style="background-color:#232323;padding-bottom:20px;padding-top:5%;")
	.pname
		h1.fancy 
			span {{title1}}
	.border
		div(style="height: auto")
			carousel(interval="3000")
				slide(ng-repeat="slide in slides1" active="slide.active")
					img(ng-src="{{slide.image}}" style="margin:auto;")

.triangle-bottomleft 
div(style="background-color:#3F8093;padding-bottom:20px;padding-top:5%;")
	.pname
		h1.fancy 
			span {{title2}}
	.border
		div(style="height: auto")
			carousel(interval="3000")
				slide(ng-repeat="slide in slides2" active="slide.active")
					img(ng-src="{{slide.image}}" style="margin:auto;")