div(style="background-color:black;")
	.pname
		h1.fancy 
			span {{title1}}
	.border
		div(style="height: auto")
			carousel(interval="3000")
				slide(ng-repeat="slide in slides1" active="slide.active")
					img(ng-src="{{slide.image}}" style="margin:auto;")

		//- hr
	.pname
		h1.fancy 
			span {{title2}}
	.border
		div(style="height: auto")
			carousel(interval="3000")
				slide(ng-repeat="slide in slides2" active="slide.active")
					img(ng-src="{{slide.image}}" style="margin:auto;")

		hr