extends layout

block content
	nav.navbar.navbar-fixed-top.row
		.im-centered
			.center-content
				a.col-md-2 idk1
				a.col-md-2 idk2
				a.col-md-2 idk3
				a.col-md-2 idk4
				a.col-md-2 idk5
				a.col-md-2 idk6
	img.centered(src="images/profile.jpg")
















block scripts
	script(src='vendor/freelancer/js/jquery-1.11.0.js')
	script(src='vendor/bootstrap/js/bootstrap.min.js')