extends layout

block content
	nav.navbar.navbar-fixed-top
		.im-centered
			a.col-md-2 idk1
			a.col-md-2 idk2
			a.col-md-2 idk3
			a.col-md-2 idk4
			a.col-md-2 idk5
			a.col-md-2 idk6	
	.center-block
		h1.fancy 
			span ABOUT ME
			.description
				p Ke is a passionate software developer who is fueled by the idea of designing and creating.
	.container.profile-pic
		.row
			.col-lg-12
				img(src="images/profile.jpg")
			.col-md-8
			.col-md-4
				a.btn.btn-social.btn-lg.btn-facebook.icon-customize
					i.fa.fa-facebook
				a.btn.btn-social.btn-lg.btn-linkedin.icon-customize
					i.fa.fa-linkedin
				a.btn.btn-social.btn-lg.btn-github.icon-customize(href="http://github.com/zhangkecyrus" target="_blank")
					i.fa.fa-github
				a.btn.btn-lg.icon-customize(href="mailto:zhangkecyrus@gmail.com")
					i.fa.fa-envelope
	hr			
	.center-block
		h1.fancy 
			span VENTUS
	.border
		.carousel.slide(data-ride="carousel" id="carousel1")
			ol.carousel-indicators
				li.active(data-target="#carousel1" data-slide-to="0")
				li(data-target="#carousel1" data-slide-to="1")
				li(data-target="#carousel1" data-slide-to="2")
				li(data-target="#carousel1" data-slide-to="3")
			.carousel-inner(role="listbox")
				.item.active
					img(src="images/ventus1.jpg" style="height: 100%;")
					//- .carousel-caption ...
				.item
					img(src="images/ventus2.jpg" style="height: 100%;")
					//- .carousel-caption ...
				.item
					img(src="images/ventus3.jpg" style="height: 100%;")
					//- .carousel-caption ...
				.item
					img(src="images/ventus4.jpg" style="height: 100%;")
					//- .carousel-caption ...
			a.left.carousel-control(href="#carousel1" role="button" data-slide="prev")
				span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
				span.sr-only Previous
			a.right.carousel-control(href="#carousel1" role="button" data-slide="next")
				span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
				span.sr-only Next
	hr
	//- .center-block
	//- 	h1.fancy 
	//- 		span TS HELPER

	//- .carousel.slide(data-ride="carousel" id="carousel2")
	//- 	ol.carousel-indicators
	//- 		li.active(data-target="#carousel2" data-slide-to="0")
	//- 		li(data-target="#carousel2" data-slide-to="1")
	//- 		li(data-target="#carousel2" data-slide-to="2")
	//- 		li(data-target="#carousel2" data-slide-to="3")
	//- 	.carousel-inner(role="listbox")
	//- 		.item.active
	//- 			img(src="images/ventus1.jpg")
	//- 			//- .carousel-caption ...
	//- 		.item
	//- 			img(src="images/ventus2.jpg")
	//- 			//- .carousel-caption ...
	//- 		.item
	//- 			img(src="images/ventus3.jpg")
	//- 			//- .carousel-caption ...
	//- 		.item
	//- 			img(src="images/ventus4.jpg")
	//- 			//- .carousel-caption ...
	//- 	a.left.carousel-control(href="#carousel2" role="button" data-slide="prev")
	//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
	//- 		span.sr-only Previous
	//- 	a.right.carousel-control(href="#carousel2" role="button" data-slide="next")
	//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
	//- 		span.sr-only Next
	.foot
		p helhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhelhel				
block scripts
	script(src='vendor/freelancer/js/jquery-1.11.0.js')
	script(src='vendor/bootstrap/js/bootstrap.min.js')