extends layout

block content
	nav.navbar.navbar-fixed-top
		
	img.centered(src="images/profile.jpg")
















block scripts
	script(src='vendor/freelancer/js/jquery-1.11.0.js')
	script(src='vendor/bootstrap/js/bootstrap.min.js')