extends main-layout

block content
	#wrapper.background-image
		nav.navbar.navbar-fixed-top
			.im-centered
				.col-md-3.col-xs-3 
					a(href="") Home
				.col-md-3.col-xs-3
					a(href="studynote") Study Notes
				.col-md-3.col-xs-3
					a(href="/images/KeZhang_resume.pdf" target="_blank") CV
				.col-md-3.col-xs-3 
					a Life
		.space
		.content
			.center-block
				.description
					p Ke is a passionate computer polyglot who is fueled by the idea of designing and creating.
			.container.profile-pic
				.row
					.col-lg-12.col-xs-12
						img(src="images/touxiang.png" style="border-radius: 50%;")
					.col-md-8.col-xs-6
					.col-md-4.col-xs-6.social-logo
						a.btn.btn-social.btn-lg.btn-facebook.icon-customize(href="http://www.facebook.com/profile.php?id=100004410182145&fref=ts" target="_blank")
							i.fa.fa-facebook
						a.btn.btn-social.btn-lg.btn-linkedin.icon-customize(href="https://www.linkedin.com/profile/view?id=347236728&authType=NAME_SEARCH&authToken=rYL7&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A2-1-2%2CtarId%3A1432703762797%2Ctas%3Ake" target="_blank")
							i.fa.fa-linkedin
						a.btn.btn-social.btn-lg.btn-github.icon-customize(href="http://github.com/zhangkecyrus" target="_blank")
							i.fa.fa-github
						a.btn.btn-lg.icon-customize(href="mailto:zhangkecyrus@gmail.com")
							i.fa.fa-envelope
			.spaceblack.row
				.col-md-12(style="padding-left:30px;")
					h2
						#trigger1.spacer.s0
						#s2.box2.skin
							span(style="opacity:0;display:block;font-weight:100;font-size:100px;word-spacing:-25px;line-height:85%;color:white;") Ke Zhang
							span(style="opacity:0;display:block;font-weight:300;font-size:145px;color:white;word-spacing:-25px;") WEB DESIGN
							span(style="opacity:0;display:block;font-weight:700;font-size:155px;margin-top:6px;line-height:85%;word-spacing:-25px;color:white;") DEVELOPMENT
							span.trianglefooter(style="opacity:0;display:block;")
			.triangle-bottomright		
			div(ng-view)
			//- hr
		footer.foot.row
			.col-md-8.col-md-offset-2
				span(style="color:white") All content copyright <a style="font-weight:bold;" href="#">Ke</a> © 2016 • All rights reserved &nbsp;|
				a.btn.btn-social.btn-lg.btn-facebook.icon-customize(href="http://www.facebook.com/profile.php?id=100004410182145&fref=ts" target="_blank")
					i.fa.fa-facebook
				a.btn.btn-social.btn-lg.btn-linkedin.icon-customize(href="https://www.linkedin.com/profile/view?id=347236728&authType=NAME_SEARCH&authToken=rYL7&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A2-1-2%2CtarId%3A1432703762797%2Ctas%3Ake" target="_blank")
					i.fa.fa-linkedin
				a.btn.btn-social.btn-lg.btn-github.icon-customize(href="http://github.com/zhangkecyrus" target="_blank")
					i.fa.fa-github
				a.btn.btn-lg.icon-customize(href="mailto:zhangkecyrus@gmail.com")
					i.fa.fa-envelope
block scripts
	script(src='/vendor/freelancer/js/jquery-1.11.0.js')
	script(src='/vendor/bootstrap/js/bootstrap.min.js')
	script(src='/vendor/angular/angular.min.js')
	script(src='/vendor/angular-route/angular-route.min.js')
	script(src='/vendor/ui-bootstrap/ui-bootstrap-0.12.0.min.js')
	script(src='/vendor/ui-bootstrap/ui-bootstrap-tpls-0.12.0.min.js')

	script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js")
	script(src='/vendor/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js')
	script(src='/vendor/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js')
	script(src='/vendor/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js')

	//- scroll magic
	script(src='/javascripts/scrollmagic/myscrollmagic.js')


	//- app
	script(src='/javascripts/apps/Ke-app-module.js')
	script(src='/javascripts/apps/Ke-app.js')

	//- controller
	script(src='/javascripts/controllers/Ke-controller-module.js')
	script(src='/javascripts/controllers/Ke-controller.js')

	//- //- services
	//- script(src='/javascripts/services/_module.js')	
	//- script(src='/javascripts/services/Ke-service.js')


