doctype html
html(ng-app='KeApp')
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome-4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/main-style.css')
  include includes/header
  body
    block content
  block scripts