extends layout

block content
	nav.navbar.navbar-fixed-top
		.im-centered
			.col-md-3.col-xs-3
				a(href="studynote") Study Notes
			.col-md-3.col-xs-3
				a(href="/images/KeZhang_resume.pdf" target="_blank") CV
			.col-md-3.col-xs-3 
				a Life
			.col-md-3.col-xs-3 
				a About
	.center-block
		h1 
			.description
				p Ke is a passionate software developer who is fueled by the idea of designing and creating.
	.container.profile-pic
		.row
			.col-lg-12.col-xs-12
				img(src="images/profile.jpg")
			.col-md-8.col-xs-6
			.col-md-4.col-xs-6
				a.btn.btn-social.btn-lg.btn-facebook.icon-customize(href="http://www.facebook.com/profile.php?id=100004410182145&fref=ts" target="_blank")
					i.fa.fa-facebook
				a.btn.btn-social.btn-lg.btn-linkedin.icon-customize(href="https://www.linkedin.com/profile/view?id=347236728&authType=NAME_SEARCH&authToken=rYL7&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A2-1-2%2CtarId%3A1432703762797%2Ctas%3Ake" target="_blank")
					i.fa.fa-linkedin
				a.btn.btn-social.btn-lg.btn-github.icon-customize(href="http://github.com/zhangkecyrus" target="_blank")
					i.fa.fa-github
				a.btn.btn-lg.icon-customize(href="mailto:zhangkecyrus@gmail.com")
					i.fa.fa-envelope
	hr
	div(ng-view)
		//- .center-block
		//- 	h1.fancy 
		//- 		span VENTUS
		//- .border
		//- 	.carousel.slide(data-ride="carousel" id="carousel1")
		//- 		ol.carousel-indicators
		//- 			li.active(data-target="#carousel1" data-slide-to="0")
		//- 			li(data-target="#carousel1" data-slide-to="1")
		//- 			li(data-target="#carousel1" data-slide-to="2")
		//- 			li(data-target="#carousel1" data-slide-to="3")
		//- 			li(data-target="#carousel1" data-slide-to="4")
		//- 		.carousel-inner(role="listbox")
		//- 			.item.active
		//- 				img(src="images/ventus1.jpg" style="height: auto; width: auto;")
		//- 				//- .carousel-caption ...
		//- 			.item
		//- 				img(src="images/ventus2.jpg" style="height: 100%;")
		//- 				//- .carousel-caption ...
		//- 			.item
		//- 				img(src="images/ventus3.jpg" style="height: 100%;")
		//- 				//- .carousel-caption ...
		//- 			.item
		//- 				img(src="images/ventus4.jpg" style="height: 100%;")
		//- 				//- .carousel-caption ...
		//- 			.item
		//- 				img(src="images/ventus5.jpg" style="height: auto; width: auto;")
		//- 				//- .carousel-caption ...
		//- 		a.left.carousel-control(href="#carousel1" role="button" data-slide="prev")
		//- 			span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
		//- 			span.sr-only Previous
		//- 		a.right.carousel-control(href="#carousel1" role="button" data-slide="next")
		//- 			span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
		//- 			span.sr-only Next
		//- hr
	.foot
		p LEAVE THIS SPACE FOR FOOTER				
block scripts
	script(src='/vendor/freelancer/js/jquery-1.11.0.js')
	script(src='/vendor/bootstrap/js/bootstrap.min.js')
	script(src='/vendor/angular/angular.min.js')
	script(src='/vendor/angular-route/angular-route.min.js')
	script(src='/vendor/ui-bootstrap/ui-bootstrap-0.12.0.min.js')
	script(src='/vendor/ui-bootstrap/ui-bootstrap-tpls-0.12.0.min.js')

	//- app
	script(src='/javascripts/apps/Ke-app-module.js')
	script(src='/javascripts/apps/Ke-app.js')

	//- controller
	script(src='/javascripts/controllers/Ke-controller-module.js')
	script(src='/javascripts/controllers/Ke-controller.js')

	//- //- services
	//- script(src='/javascripts/services/_module.js')	
	//- script(src='/javascripts/services/Ke-service.js')


