extends studynote-layout

block content
	nav.navbar.navbar-fixed-top
		.im-centered
			.col-md-3.col-xs-3 
				a(href="/") Home
			.col-md-3.col-xs-3
				a(href="studynote") Study Notes
			.col-md-3.col-xs-3
				a(href="/images/KeZhang_resume.pdf" target="_blank") CV
			.col-md-3.col-xs-3 
				a Life
	
	.left-block.col-md-3(ng-controller="testController")
		my-customer(info="naomi")
	.center-block.col-md-6
	.right-block.col-md-3
		
	//- .foot
	//- 	p(style="color:white") LEAVE THIS SPACE FOR FOOTER			
block scripts
	script(src='/vendor/freelancer/js/jquery-1.11.0.js')
	script(src='/vendor/bootstrap/js/bootstrap.min.js')
	script(src='/vendor/angular/angular.min.js')
	script(src='/vendor/angular-route/angular-route.min.js')
	script(src='/vendor/ui-bootstrap/ui-bootstrap-0.12.0.min.js')
	script(src='/vendor/ui-bootstrap/ui-bootstrap-tpls-0.12.0.min.js')
	script(src='/vendor/chartjs/Chart.js')
	script(src='/vendor/angular-chart/dist/angular-chart.min.js')

	script(src='/vendor/createjs/EaselJS-0.8.1/lib/easeljs-0.8.1.min.js')
	script(src='/vendor/createjs/TweenJS-0.6.1/lib/tweenjs-0.6.1.min.js')
	script(src='/vendor/createjs/PreloadJS-0.6.1/lib/preloadjs-0.6.1.min.js')
	script(src='/vendor/createjs/SoundJS-0.6.1/lib/soundjs-0.6.1.min.js')
	
	//- app
	script(src='/javascripts/apps/Studynote-app-module.js')
	script(src='/javascripts/apps/Studynote-app.js')

	//- controller
	script(src='/javascripts/controllers/Studynote-controller-module.js')
	script(src='/javascripts/controllers/Studynote-controller.js')
	
	//- directives
	script(src='/javascripts/directives/Studynote-directive-module.js')
	script(src='/javascripts/directives/Studynote-directive.js')

