html {
  background-color: black;
}
.background-image {
  display: block;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/background.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  /*background-size: contain;*/
  z-index: -1;
  filter: brightness(50%);
  overflow-x: hidden;
  background-color: black;
}
.space {
  min-height:20%;
  background-color: white
}
body {
  /*padding: 50px;*/
  /*margin: 0;*/
  /*padding:0;*/
  /*height:100%;*/
  /*width: 100%;*/
  /*overflow-x: hidden;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
#wrapper {
  /*z-index: 1;*/
}
.foot {
  background:rgba(0,0,0,0.6);
  width:100%;
  height:100px;
  left:0;
  padding: 2%;
  border-top: black 1px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  background-color: #0B0021;
}
.navbar {
  background-color: rgba(0,0,0,0.6);
  transition-property: background-color;
  transition-duration: 1s;  
  min-height: 50px;   
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;

}
.social-logo a {
  color: white;
}
.social-logo a:hover {
  color: #aaa;
}
.navbar:hover {
  /*background-color: rgb(90,88,255);*/
  background-color: #0B0021;
}
nav .im-centered {
  width: 100%;
  text-align: center;
}
nav .im-centered .col-md-3 a {
  color: white;
  font-size: 15px;
}
nav .im-centered .col-md-3 a:hover {
  color: #29F7CF;
  text-decoration: none;
}
.im-centered {
  margin: auto;
  max-width: 100%;
  font-family: Serif;
}
.profile-pic {
  margin-top: 60px;
  margin-bottom: 200px;
}
/*page triangle div*/
.trianglefooter {
  max-width: 60%;
  z-index: 99;
  border-bottom: 65px solid black;
  border-left: 1000px solid transparent;
  background-color: rgb(255, 227, 36);
}
.triangle-bottomright {
  max-width: 100%;
  z-index: 99;
  left: 0;
  right: 0;
  border-top: 250px solid black;
  border-left: 3000px solid transparent;
  background-color: #232323;
  /*rgb(255, 227, 36)*/
}
.triangle-bottomright2 {
  max-width: 100%;
  z-index: 99;
  left: 0;
  right: 0;
  border-top: 250px solid #3F8093;
  border-left: 3000px solid transparent;
  background-color: rgb(64,20,112);
}
.triangle-bottomleft {
  max-width: 100%;
  z-index: 99;
  left: 0;
  right: 0;
  border-bottom: 250px solid #3F8093;
  border-left: 3000px solid transparent;
  background-color: #232323;
}
.triangle-pagefooter {
  max-width: 60%;
  z-index: 99;
  border-bottom: 265px solid black;
  border-left: 7000px solid transparent;
  background-color: rgb(64,20,112);
}
.spaceblack {
  padding-top: 10%;
  padding-bottom: 15%;
  min-height: 600px;
  background-color: black;
  z-index: 99;
  left: 0;
  right: 0;  
}
.profile-pic .row .col-lg-12 img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon-customize:hover, .icon-customize:hover {
  color: blue;
}
.icon-customize {
  font-size: 20px;
}
hr {
  width: 80%; 
  color: #987cb9;
  /*top: 350px;*/
  left: 50%;
}
.pname {
  color: white;
  margin-bottom: 80px;
}
.pname h1 span{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.center-block {
  width: 60%;
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
/*LINE ON SIDES: https://css-tricks.com/line-on-sides-headers/*/
.center-block h1 {
  text-align: center;
  color: gray;
  font-size: 2em;
  font-weight: 100;
}
.fancy {
  line-height: 0.5;
  margin: 0px;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
/*.fancy span:before, .fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #987cb9;
  top: 0;
  width: 30%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}*/
.description {
  padding-top: 20px;
  font: 0.6em Serif;
  text-align: justify;
  color: white;
  /*font-family: "Lucida Console", Monaco, monospace;*/
  font-family: "Comic Sans MS", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.description p {
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
/*END LINE ON SIDES*/

/*CAROUSEL CUSTOMIZE*/
.carousel {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 200px;
}
.carousel-inner .item img {
  margin:0 auto;
  min-height: 500px;
  max-height: 500px;
}
.carousel-indicators li {
  border: black;
  background-color: rgba(215,201,201,1);
}
.carousel-indicators .active {
  background-color: black;
}
/*END CAROUSEL CUSTOMIZE*/

.testscroll {
  padding-top: 500px;
  background-color: white;
}