body {
  /*padding: 50px;*/
  margin: 0;
  padding:0;
  height:100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#wrapper {
  min-height:100%;
  position:relative;
}
.content {
  padding-bottom:75px; /* Height of the footer element */
}
.foot {
  background:#660033;
  width:100%;
  height:75px;
  position:absolute;
  bottom:0;
  left:0;
}
.navbar {
  background-color: rgba(0,0,0,0.6);
  transition-property: background-color;
  transition-duration: 1s;  
  min-height: 50px;   
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;

}
.navbar:hover{
  background-color: #660033;
}
nav .im-centered {
  width: 100%;
  text-align: center;
}
nav .im-centered .col-md-3 a {
  color: white;
  font-size: 15px;
}
nav .im-centered .col-md-3 a:hover {
  color: #29F7CF;
  text-decoration: none;
}

/* this is for game panel in future.*/
.left-block {
  margin-top: 80px;
/*  margin-left: auto;
  margin-right: auto;  */
  display: block; 
}
.right-block {
  margin-top: 80px;
/*  margin-left: auto;
  margin-right: auto;*/  
  display: block; 
}
.center-block {
  /*width: 100%;*/
  margin-top: 80px;
  display: block;
/*  margin-left: auto;
  margin-right: auto;*/
  margin-bottom: 60px;
}
/* this is for game panel in future.*/

.stage-block {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;  
  display: block; 
}
.rack {
  /*border-radius: 25px;*/
  margin-top: 10px;
  margin-bottom: 10px;
}
.rack:hover .rack-body{
  -moz-box-shadow:    3px 3px 5px 2px #ccc;
  -webkit-box-shadow: 3px 3px 5px 2px #ccc;
  box-shadow:         3px 3px 5px 2px #ccc;  
}
.rack:hover .rack-title{
  background-color: #3366FF;
}
.rack-title {
  color: white;
  text-align: center;
  background-color: #ad9ee4;
  border-radius: 3px;
}
.title-redundancy {
  background-color: white;
}
.rack-title p {
  padding-top: 5px;
}
.rack-body {
  border: solid 0.5px;
  margin-top: 20px;
  margin-left: 15px;
  -moz-box-shadow:    3px 3px 3px 0px #ccc;
  -webkit-box-shadow: 3px 3px 3px 0px #ccc;
  box-shadow:         3px 3px 3px 0px #ccc;
  background-color: #f6f6f6;
  /*transition-duration: 0.5s;*/
  color: gray; 
  /*border-radius: 5px;*/
}
.rack-body .text {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 30px;
}











