body {
  /*padding: 50px;*/
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar {
  background-color: rgba(0,0,0,0.6);
  min-height: 50px;   
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
}
nav a {
  color: white;
  font-size: 15px;
}
.im-centered {
  text-align: center;
  margin: auto;
  max-width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  font-family: Serif;
}
.profile-pic {
  margin-top: 100px;
}
.profile-pic .row .col-lg-12 img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
hr {
  width: 80%; 
  color: #987cb9;
  /*position: fixed;*/
  top: 350px;
  left: 50%;
  /*bring your own prefixes */
  /*transform: translate(-50%, -50%); */
}
.center-block {
  width: 50%;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*LINE ON SIDES: https://css-tricks.com/line-on-sides-headers/*/
.center-block h1 {
  text-align: center;
  color: gray;
  font-size: 2em;
  font-weight: 100;
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before, .fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #987cb9;
  top: 0;
  width: 30%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.description {
  padding-top: 20px;
  font: 0.6em Serif;
  text-align: justify;
}
.description p {
  padding-top: 20px;
  text-align: center;
}
/*END LINE ON SIDES*/
.carousel {
  width: 100%;
  margin-top: 20px;
  min-height: 500px;
  max-height: 500px;
}
.carousel-inner .item img {
  margin:0 auto;
}
.foot {
  margin-top: 100px;
}
  bottom: 0px;
}