body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*body h1 {
  font-size: 30px;
  padding: 10px;
  text-align: center;
  color: white;
}*/
.navbar {
  background-color: rgba(0,0,0,0.6);
  min-height: 50px;   
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
}
nav a {
  color: white;
  font-size: 15px;
}
.im-centered {
  text-align: center;
  margin: auto;
  max-width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}
img {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);	
}